<section id="hero" class="hero section-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 hero-text order-2 order-lg-1">
        <h3>{{ selectedRestaurant?.name }}</h3>
        <h4>{{ selectedRestaurant?.address }}</h4>
        <h4>{{ selectedRestaurant?.openTime }}</h4>
        <p></p>
        <div class="hero-buttons">
          <a href="#" class="btn-book-a-table">Book a Table</a>
        </div>
      </div>
      <div class="col-lg-5 hero-image order-1 order-lg-2">
        <img [src]="selectedRestaurant?.imageUrl" class="img-fluid" alt="" />
      </div>
    </div>
  </div>
</section>
<section id="restaurant-details">
  <div class="container">
    <div class="menu-options">
      <a href="#menu" class="tab-link">Menu</a>
      <a href="#chefs" class="tab-link">Chefs</a>
      <a href="#events" class="tab-link">Events</a>
      <a href="#reviews" class="tab-link">Reviews</a>
    </div>
  </div>
</section>
