.hero {
  display: flex;
  align-items: center;
}

.hero .container {
  padding: 0;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  text-align: center;
  text-align: start;
}

.hero-text h2 {
  animation: fade-up 0.5s ease-out;
  margin-bottom: 20px;
}

.hero-text p {
  animation: fade-up 0.6s ease-out;
  font-size: 1.2em;
  margin-bottom: 30px;
}

.hero-buttons {
  display: flex;
  animation: fade-up 0.7s ease-out;
}

.hero-buttons .btn-book-a-table {
  margin-right: 10px;
  border-radius: 10px;
}

.hero-image img {
  animation: zoom-out 0.8s ease-out;
}

.register-banner {
  margin-top: 80px;
  width: 90%;
  padding: 15px 20px 25px 20px;
  background-color: rgba(255, 193, 7, 0.8);
  border-radius: 5px;
}

.register-banner p {
  font-size: 1.4em;
  margin-bottom: 10px;
  color: black;
}

.register-banner .btn-book-a-table {
  margin-top: 10px;
  border-radius: 5px;
  background-color: white;
  color: black;
}

.register-banner .btn-book-a-table:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}

/* Animation keyframes */
@keyframes fade-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes zoom-out {
  from {
    opacity: 0;
    transform: scale(1.2);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
