<section id="hero" class="hero section-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 hero-text order-2 order-lg-1">
        <h2>Enjoy Your Healthy<br />Delicious Food</h2>
        <p></p>
        <div class="hero-buttons">
          <a href="#" class="btn-book-a-table">Book a Table</a>
          <a
            href="https://www.youtube.com/watch?v=JlK8l_lvBko"
            class="glightbox btn-watch-video"
          >
            <i class="bi bi-play-circle"></i><span>Watch Video</span>
          </a>
        </div>
      </div>
      <div class="col-lg-5 hero-image order-1 order-lg-2">
        <img src="assets/img/hero-img.png" class="img-fluid" alt="" />
      </div>
    </div>
  </div>
</section>
